.sidebar-section {
    display: flex;
    width: 100%;
    background-color: black;
}

.sidebar {
    height: 100vh;
    background-color: #1e1e2c;
    width: 120px;
    position: fixed;
}

.sidebar-toggle {
    width: 220px;
}

.sidebar-toggle-icons {
    display: flex;
    align-items: right;
    justify-content: right;
    cursor: pointer;
}

.sidebar-toggle-icons p svg {
    background-color: #04D9FF;
    color: white;
    margin-top: 10px;
}




/* ==== MOBILE VIEW ========== */
@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}