.scroll-to-top {
    border: 2px solid gray;

    border-radius: 20%;


    background-color: #fff;


}

.scroll-to-top:hover {
    border: 2px solid #04D9FF;
    color: white;
    /* Border color on hover */
    background-color: #04D9FF;
    /* Background color on hover */

}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}